Designed[[:space:]]By[[:space:]]Apple.mp3 filter=lfs diff=lfs merge=lfs -text
palpitate.mp3 filter=lfs diff=lfs merge=lfs -text
rubyconf[[:space:]]motion.aep filter=lfs diff=lfs merge=lfs -text
palpitate.wav filter=lfs diff=lfs merge=lfs -text
Dot.m4a filter=lfs diff=lfs merge=lfs -text
Pencil[[:space:]]Moving.m4a filter=lfs diff=lfs merge=lfs -text
Dawning.mp3 filter=lfs diff=lfs merge=lfs -text
